/app/composeApp/cache
/app/composeApp/kcef-bundle
/www/itemsIMGS
/www/householdsIMGS
/client_secret_516111383238-er9eqv2m2m813qavvsusf45htqevrirp.apps.googleusercontent.com.json
/client_secret_516111383238-rt7t7tjdfh6l1tto7pr9843tui42lbrv.apps.googleusercontent.com.json
/client_secret_516111383238-t3dik9ohf8lpki774uk5pjvm92g2b7vn.apps.googleusercontent.com.json
/www/itemsFILES
/www/usersIMGS
/www/releases
